
//Primary

$BrightOrange: hsl(31, 77%, 52%);
$DarkCyan: hsl(184, 100%, 22%);
$VerydarkCyan: hsl(179, 100%, 13%);

//Neutral

$TransparentWhite: hsla(0, 0%, 100%, 0.75);/*Paragraphs*/
$Verylightgray: hsl(0, 0%, 95%);/*background, headings, buttons*/

//Typography
$Lexend:'Lexend Deca',sans-serif;
$BigShoulders:'Big Shoulders Display', cursive;